<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
    <script src="https://npmcdn.com/chart.js@latest/dist/Chart.bundle.min.js"></script>
    <script src="https://npmcdn.com/Chart.Zoom.js@latest/Chart.Zoom.min.js"></script>
</head>
<body style="height: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0;">
{% if samples and effort and canvas_width %}
    <canvas id="chart-bvp" style="width: {{ canvas_width }}vw; height: 50%;"></canvas>
    <canvas id="chart-effort" style="width: {{ canvas_width }}vw; height: 50%;"></canvas>
    <script type="text/javascript">
        const samples = JSON.parse("{{ samples }}");
        const effort = JSON.parse("{{ effort }}");
        const options = {
            responsive: false,
            scales: {
                xAxes: [
                    {
                        display: false
                    }
                ]
            },
            elements: {
                point: {
                    radius: 0
                }
            },
            pan: {
                enabled: true,
                mode: 'y'
            },
            zoom: {
                enabled: true,
                mode: 'y',
                sensitivity: 0.1
            }
        };

        new Chart('chart-bvp', {
            type: "line",
            data: {
                labels: [...new Array(samples.length).keys()],
                datasets: [
                    {
                        label: 'BVP',
                        backgroundColor: "rgba(179,181,198,0.2)",
                        borderColor: "rgba(179,181,198,1)",
                        pointBackgroundColor: "rgba(179,181,198,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(179,181,198,1)",
                        data: samples
                    }
                ]
            },
            options: Object.assign(options, {
                title: {
                    display: true,
                    text: 'Respiratory effort estimation'
                }
            })
        });
        new Chart('chart-effort', {
            type: "line",
            data: {
                labels: [...new Array(effort.length).keys()],
                datasets: [
                    {
                        label: 'Effort',
                        backgroundColor: "rgba(255,99,132,0.2)",
                        borderColor: "rgba(255,99,132,1)",
                        pointBackgroundColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(255,99,132,1)",
                        data: effort
                    }
                ]
            },
            options: Object.assign(options, {
                title: {
                    display: false
                }
            })
        });
    </script>
{% else %}
    <h1>No data</h1>
{% endif %}
</body>
</html>